<div class="settings-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">

        <h1 class="text-xs-center">Your Settings</h1>

        <!-- <app-list-errors [errors]="errors"></app-list-errors> -->

        <form [formGroup]="settingsForm" (ngSubmit)="submitForm()">
          <fieldset [disabled]="isSubmitting">
            <fieldset class="form-group">
              <label style="font-weight: bold;">URL of profile picture</label>
              <input class="form-control"
                type="text"
                placeholder="URL of profile picture"
                formControlName="image" />
            </fieldset>

            <fieldset class="form-group">
              <label style="font-weight: bold;">Username</label>
              <input class="form-control"
                type="text"
                placeholder="Username"
                formControlName="username" />
                <div *ngIf="errors.errors.username" style="color:#CF563C; font-weight: bold;">
                  username {{errors.errors.username[0]}}
                </div>
            </fieldset>

            <fieldset class="form-group">
              <label style="font-weight: bold;">Bio</label>
              <textarea class="form-control"
                rows="8"
                placeholder="Short bio about you"
                formControlName="bio">
              </textarea>
            </fieldset>

            <fieldset class="form-group">
              <label style="font-weight: bold;">Email</label>
              <input class="form-control"
                type="email"
                placeholder="Email"
                formControlName="email" />
              <div *ngIf="errors.errors.email" style="color:#CF563C; font-weight: bold;">
                  email {{errors.errors.email[0]}}
              </div>
            </fieldset>

            <fieldset class="form-group">
              <label style="font-weight: bold;">Password</label>
              <input class="form-control"
                type="password"
                placeholder="New Password"
                formControlName="password" />
              <div *ngIf="errors.errors.password" style="color:#CF563C; font-weight: bold;">
                  password {{errors.errors.password[0]}}
              </div>
            </fieldset>
            <fieldset class="form-group">
              <label style="font-weight: bold;">Confirm Password</label>
              <input class="form-control"
                type="password"
                placeholder="Re-enter Password"
                formControlName="password1" />
            </fieldset>
            <div *ngIf="settingsForm.errors?.notMatched && settingsForm.get('password1').dirty" style="color:#CF563C; font-weight: bold;">Passwords not matched</div>

            <button class="btn btn-lg btn-primary pull-xs-right"
              type="submit" [disabled]="!settingsForm.valid">
              Update Settings
            </button>

          </fieldset>
        </form>


      </div>
    </div>
  </div>
</div>
